<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Teanga: Delete My Account</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="row">
            <img id="logo" src='{{logo}}' alt="Logo">
            <div id="privacy">
                <h2><strong>Delete My Account</strong></h2>

                <p> In order to request your account be deleted please email
                    <a href="mailto:support@teanga.eu">support@teanga.eu</a>, please include your
                    account email address along with your username. Please allow for 5 working days for your request
                    to be processed. </p>

                <p> Thank you for using Teanga, we wish you all the best with your continued language journey! </p>
            </div>
        </div>
    </body>
</html>
