<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        <title>Teanga</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <img class="panel" src='{{panel}}' alt="Decorative side panel">

        <div class="column">
            <div class="row">
                <img id="logo" src='{{logo}}' alt="Logo">
            </div>

            <div class="row">
                <div id="basicInfo" class="column">
                    {{irish_information | safe}}

                    <div class="spacer"></div>

                    {{english_information | safe}}
                </div>

                <img class="column" src='{{layered_screens}}'>
            </div>
        </div>

        <img class="panel" src='{{panel}}' alt="Decorative side panel">
    </body>
</html>
