<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        <title>Teanga</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="panels" style="
            background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)),
            url({{panel}});"></div>

        <div class="centralColumn">
            <img id="logo" src='{{logo}}' alt="Logo">

            <div id="basicInfo" class="column">
                {{irish_information | safe}}

                <div class="spacer"></div>

                {{english_information | safe}}
            </div>

            <img class="column" src='{{layered_screens}}'>
        </div>
    </body>
</html>
